
competitive-location/target/classes/META-INF/maven/br\.edu\.ifba/competitive-location/pom\.properties

competitive-location/target/classes/br/edu/ifba/competitive_location/CompetitiveLocationQuery\.class
