
competitive-location/target/classes/META-INF/maven/br\.edu\.ifba/competitive-location/pom\.properties

*.project
*.prefs
*.class
competitive-location/target/
*.jar
*.classpath


locationQuery-rest/\.settings/
locationQuery-cmd/\.settings/

core/\.settings/

core/\.springBeans

locationQuery-cmd/target/
locationQuery-rest/target/
core/target/
location-query/target/

client-provider-txt/salvador_city\.txt

locationQuery-rest/ClientProviders/

locationQuery-cmd/ClientProviders/

libs/

min-clients/\.editorconfig

min-clients/target
