<div>
  <button (click)="showFacilitiesAttractedArea()">Show facilities influence area</button>
  <button (click)="hideFacilitiesAttractedArea()">Hide facilities influence area</button>
  <button (click)="findBestLocation()">Find best location</button>
  <button (click)="inputCandidates()">Input Candidates</button>
  <button (click)="disableInputCandidates()">Disable Input Candidates</button>
</div>
<div class="map"
  leaflet 
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)">

</div>